@import url("../css/layout/fonts.css");
@import url("../css/layout/base.css");
@import url("../css/layout/normalize.css");
@import url("../css/blocks/header.css");
@import url("../css/blocks/logo.css");
@import url("../css/blocks/menu.css");
@import url("../css/blocks/contacts.css");
@import url("../css/blocks/promo.css");
@import url("../css/blocks/hot-turs.css");
@import url("../css/blocks/btn.css");
@import url("../css/blocks/features.css");
@import url("../css/blocks/news single.css");
@import url("../css/blocks/navigator.css");
@import url("../css/blocks/about.css");
@import url("../css/blocks/footer.css");
@import url("../css/blocks/social.css");
@import url("../css/blocks/service-page.css");
@import url("../css/blocks/reviews.css");
@import url("../css/blocks/welcome.css");

