.footer-container__section {
  height: 136px;
  margin-top: 4px;
}
.footer__container {
  margin-top: auto;
}
.footer-container__content {
  border-top: 1px solid #fff;
}
.footer {
  position: relative;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.footer__col {
  display: flex;
  align-items: center;
}
.footer__col--aling--right {
  justify-content: flex-end;
}
.inner-footer__container {
  padding: 48px 0;
}
.inner-footer {
  margin-top: auto;
  background: #001821;

}