.wrapper__reviews {
  background: #fff;
}
 .reviews__item {
   margin-bottom: 20px;
 }
.reviews {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 10px;
}
.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background: #F4F5F5;
  border-radius: 5px;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.avatar {
  height: 142px;
  width: 142px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2E77A4;
  margin-bottom: 11px;
}

.review__user:after {
  content: url("/img/reviews/vk-blue\ 1.png");
  height: 30px;
  margin-left: 7px;
}

.review__tegs {
  display: flex;  
  align-items: flex-start;
  margin-bottom: 1px;
}

.tag {
  font-size: 13px;
  color: #303030;
  padding: 9px 18px;
  border-radius: 50px;
  background: #E7E7E7;
}
.review:hover .tag {
  background: #B9EAE4;
}

.review__title {
  font-weight: bold;
  font-size: 30px;
  color: #1A1B1E;
  margin-bottom: 13px;
 }

.review__content-text {
  color: #818181;
  margin-bottom: 50px;
  line-height: 27px;
}

.review__date {
  font-weight: bold;
  font-size: 14px;
  color: #1A1B1E;
}
.separator {
  min-height: 365px;
  display: flex;
   align-items: center;
  background:#fff
   url(/img/reviews/Rectangle.png) center center no-repeat;
   margin-bottom: 37px;
  }
.separator__content {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator__img {
  margin-bottom: -22px;

}
.separaton__title {
  font-size: 48px;
  font-weight: bold;

 }
 .inner-section__title--margin--reviews {
  margin-bottom: 64px;
}
.form {
  margin-bottom: 96px;
}
 .form__row {
   display: flex;
   margin-bottom: 30px;

 }
 .form__input {
   flex: 1;
   margin-right: 28px;
   border-radius: 4px;
   padding: 20px 30px;
   font-size: 18px;
   border: none;
   background: #fff;
   color: #1A1B1E;
   border: 2px solid #fff;

 }
 .form__input:last-child {
   margin-right: 0;
  }
  .form__input:hover {
    border: 2px solid red;
  }
 .form__input::placeholder {
   color: #666666;
 }
 .form__input--textarea {
   height: 235px;
 }
 .form__controls-title {
   color: #1A1B1E;
   width: 40%; 
   font-size: 18px;
 }
 .form__controls {
   display: flex;
   margin-bottom: 32px;
 }
 .controls {
   flex: 1;
   display: flex; 
   flex-wrap: wrap;
   
 }
 .controls__item {
   margin-bottom: 10px;
   margin-right: 10px;
 }
 .controls__elem {
   cursor: pointer;
 }
 .controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;

 }
 .controls__checkbox {
   display: none;
 }
 .form__btns {
   display: flex;
   justify-content: end;
 }
 .btm--color--grey{
  background: #2B2B2B;
 }
 .btm--color--grey:hover {
  background:  #F5170E;
 }
 
 .form__btn {
   margin-right: 17px;
 }
 .form__btn:last-child {
   margin-right: 0px;
 }